<%provide(:title, 'Contact')%>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>StaticPages#contact</h1>
	<p>Find me in app/views/static_pages/about.html.erb</p>
	Contact
</body>
</html>

